
{% extends 'base.html.twig' %}


{% block body %}

    <header>
        <div class="company-logo">DA</div>
        <nav class="navbar">
            <ul class="nav-items">
                <li class="nav-item"><a href="{{ path('movie_home') }}" class="nav-link">HOME</a></li>

                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item"><a href="{{ path('admin_home') }}" class="nav-link">ADMIN</a></li>
                {% endif %}
                <li class="nav-item"><a href="{{ path('app_user_logout') }}" title="Logout" class="nav-link">{{ app.user.username }}</a></li>
            </ul>
        </nav>
        <div class="menu-toggle">
            <i class="bx bx-menu"></i>
            <i class="bx bx-x"></i>
        </div>
    </header>



    <center>
        <div class="movie-container">
            {% for favorite in favorites %}
                <div class="movie-card">
                    <a href="{{ path('show_movie', {'id': favorite.movie.id}) }}">
                        <img src="{{ favorite.movie.poster }}"  style="object-fit: cover; width: 180px; height: 271px;">
                    </a>
                    <h3 style="text-align: center;">{{ favorite.movie.Title }}</h3>
                    <a href="{{ path('favorite_movie', {'id': favorite.movie.id}) }}">Favorite</a>


                </div>
            {% endfor %}
        </div>
        <br><br><br><br><br>
    </center>

{% endblock %}
